@model AgoraVaiRecursosHumanos.Models.Horas

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Você tem certeza que deseja deletar ?</h3>
<div>
    <h4>Horas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Horas1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Horas1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Periodo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Periodo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Funcionarios.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Funcionarios.Nome)
        </dd>

    </dl>

    <form method="post" onsubmit="confirmDelete(event, this)">
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Voltar a lista", "Index")
        </div>
       </form>
</div>

<script>
    function confirmDelete(event, form) {
        event.preventDefault();
        let decision = confirm("Deseja mesmo excluir?");
        if (decision) {
            form.submit();
        }
    }
</script>