@model IEnumerable<AgoraVaiRecursosHumanos.Models.Horas>

@{
    ViewBag.Title = "Index";
}

<h2>Horas</h2>

<p>
    <a class="btn btn-success" href="/horas/create">Cadastrar</a>
</p>
<table class="table table-striped" id="myTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Horas1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Periodo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Funcionarios.Nome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>


        @foreach (var item in Model)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Horas1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Periodo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Funcionarios.Nome)
        </td>
        <td>
            <a class="btn btn-primary" href="/Horas/Details/@item.Id"> Consulta </a> |
            <a class="btn btn-warning" href="/Horas/edit/@item.Id">Editar </a> |
            <a class="btn btn-danger" href="/Horas/delete/@item.Id">Excluir </a>
        </td>
    </tr>}
    </tbody>
</table>
