@model IEnumerable<AgoraVaiRecursosHumanos.Models.Horas>

@{
    ViewBag.Title = "Index";
}

<h2>Horas</h2>

<p>
    @Html.ActionLink("Criar novo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Horas1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Periodo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Funcionarios.Nome)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Horas1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Periodo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Funcionarios.Nome)
        </td>
        <td>
            <a class="btn btn-success" href="/Horas/Details/@item.Id"> Consulta </a> |
            <a class="btn btn-warning" href="/Horas/edit/@item.Id">Editar </a> |
            <a class="btn btn-danger" href="/Horas/delete/@item.Id">Excluir </a>
        </td>
    </tr>
}

</table>
