@model IEnumerable<AgoraVaiRecursosHumanos.Models.Cargos>

@{
    ViewBag.Title = "Index";
}

<h2>Cargos</h2>

<p>
    @Html.ActionLink("Criar Novo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Meta)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Meta)
                    </td>
                    <td>
                        <a class="btn btn-success" href="/Cargos/Details/@item.Id"> Consulta </a> |
                        <a class="btn btn-warning" href="/Cargos/edit/@item.Id">Editar </a> |
                        <a class="btn btn-danger" href="/Cargos/delete/@item.Id">Excluir </a>

                    </td>
                </tr>}

</table>
