@model IEnumerable<AgoraVaiRecursosHumanos.Models.Funcionarios>

@{
    ViewBag.Title = "Index";
}

<h2>Funcionarios</h2>

<p>
    @Html.ActionLink("Criar novo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cpf)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cep)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Idade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cargos.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Departamentos.Nome)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cpf)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cep)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Idade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cargos.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Departamentos.Nome)
        </td>
        <td>
            <a class="btn btn-success" href="/Funcionarios/Details/@item.Id"> Consulta </a> |
            <a class="btn btn-warning" href="/Funcionarios/edit/@item.Id">Editar </a> |
            <a class="btn btn-danger" href="/Funcionarios/delete/@item.Id">Excluir </a>
        </td>
    </tr>
}

</table>
